:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --font-icon-footer: rgba(255, 255, 255, 0.1);
  --text-white: #ffffff;

  --primary-bkg-color: #e5e5e5;
  --footer-bkg-color: #2f303a;
  --secondery-bkg-color: #f5f4fa;
  --font-bkg-color: #2f303a;
  --font-bkg-white-color: #ffffff;
  --font-icon: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
/* Утилиты  */

.list {
  list-style: none;
}

.link-all {
  text-decoration: none;
}

.btn {
  width: 200;
  display: inline-block;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Шапка сайта */

.page-header {
  background-color: var(--font-bkg-white-color);
  border: 1px solid #ececec;
}

.logo,
.studio {
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
  text-decoration: underline;
}

.studio {
  margin-right: 93px;
  color: var(--primary-text-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-mail:hover,
.icon-mail:focus {
  fill: var(--accent-color);
}
.icon-tel:hover,
.icon-tel:focus {
  fill: var(--accent-color);
}

/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-bkg-header-color);
}

.logo-nav {
  display: flex;
}

/* Site-nav */

.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.cont-nav {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.cont-nav .item + .item {
  margin-left: 50px;
}

.cont-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.cont-nav a:hover,
.site-nav a:focus,
.cont-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* ----------Hero------------------ */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images1/Img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  width: 696px;
  color: var(--text-white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--text-white);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #2196f3;
}

/* /-------------*Soft skils*--------------/  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.skils {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skils-title {
  margin: 0;
}

.skils-examples {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.skils-examples .skils-item:not(:last-child) {
  margin-right: 30px;
}

.skils-examples .title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.skils-examples p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.skils-item::before {
  display: block;
  content: "";
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondery-bkg-color);
  margin-bottom: 55px;
}

.skils-item:nth-child(1)::before {
  background-image: url(../icon/antenna.svg);
}

.skils-item:nth-child(2)::before {
  background-image: url(../icon/clock.svg);
}

.skils-item:nth-child(3)::before {
  background-image: url(../icon/diagram.svg);
}

.skils-item:nth-child(4)::before {
  background-image: url(../icon/astronaut.svg);
}

/* /----------------* Чем мы занимаемся *------------/  */

.works {
  padding-bottom: 94px;
}

.works-img {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-title,
.commands-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Команда */

.commands {
  background-color: var(--secondery-bkg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-img {
  display: flex;
}

.command-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item:not(:last-child) {
  margin-right: 30px;
  background-color: var(--font-bkg-white-color);
}
.command-title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.command-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.command-link-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--font-bkg-white-color);
}

.soc-item + .soc-item {
  margin-left: 10px;
}

.icon-soc {
  width: 20px;
  height: 20px;
  fill: var(--font-icon);
}

.command-link-icon:hover,
.command-link-icon:focus {
  background-color: var(--accent-color);
}

.command-link-icon:hover .icon-soc,
.command-link-icon:focus .icon-soc {
  fill: var(--text-white);
}

/* -------Наши работы--------- */

.filtre {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--font-bkg-white-color);
}

.filtre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
}

.filtre-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  border: none;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  background: var(--secondery-bkg-color);
  border-radius: 4px;
}

.portfolio:hover,
.portfolio:focus {
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-element:hover,
.flex-element:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  background-color: var(--font-bkg-header-color);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:hover,
.flex-element:focus {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
}

.image-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.image-title:hover,
.image-title:focus {
  text-decoration: underline 2px var(--accent-color);
}

.image-text {
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 30px;

  color: var(--title-text-color);
}

.image-text:hover,
.image-text:focus {
  text-decoration: underline 2px var(--accent-color);
}

/*-----------------Постоянные клиенты---------------- */

.klient {
  padding-top: 94px;
  padding-bottom: 94px;
}

.klients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;

  color: var(--primary-text-color);
}
.klients-list {
  display: flex;
  justify-content: center;
}

.klients-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--font-icon);
  box-sizing: border-box;
  border-radius: 4px;
}

.klients-item + .klients-item {
  margin-left: 30px;
}

.klients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-bkg-white-color);
}

.klients-icon {
  fill: var(--font-icon);
}

.klients-link:hover .klients-icon,
.klients-link:focus .klients-icon {
  fill: var(--accent-color);
}

.klients-item:hover,
.klients-item:focus {
  border: 1px solid var(--accent-color);
}

/*--------------------- Подвал------------------------ */

.footer {
  background-color: var(--footer-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
}
.main-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer,
.studio-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  color: var(--text-white);
}

.logo-footer:hover,
.logo-footer:focus {
  text-decoration: underline;
}

.logo-footer {
  color: var(--accent-color);
}

.footer-add {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
  color: var(--text-white);
  font-size: 14px;
  line-height: 1.71;
}

.footer-link a {
  font-family: inherit;
  color: var(--text-footer-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-link a:hover,
.footer-link a:focus {
  color: var(--accent-color);
}

.mail {
  margin-bottom: 9px;
}

.icons {
  display: flex;
  margin-left: 70px;
}

.network-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}

.footer-item {
  width: 44px;
  height: 44px;
}

.link-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--font-icon-footer);
}
.footer-item + .footer-item {
  margin-left: 10px;
}

.icon-soc-foot {
  width: 20px;
  height: 20px;
  fill: var(--text-white);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
}
